body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(fundo-dia.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#snakeCanvas {
  background-color: rgba(45, 44, 44, 0.5);  border: 2px solid rgb(245, 241, 241);
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra sutil */
}
#startButton {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  right: 80%;
}

#gameOverMessage{
color: rgb(58, 41, 41);
font-size: xx-large;
font-family:  sans-serif;
}

#startButton:hover {
  background-color: darkred;
}


#OwAlee {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 6px;
  color: white;
  max-width: 100%;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translate(-50%, -50%);
  transition: color 0.8s ease-in, transform 0.3s ease-in-out;
  padding: 10px 20px;
  background: linear-gradient(to bottom, #3d9eff, #1e70e1); /* Gradiente de cor */
  border-radius: 5px;
  font-size: 18px;
}

#OwAlee:hover {
  color: rgba(28, 5, 238, 0.836);
  transform: translate(-50%, -50%) scale(1.1);
}

/* Media query para ajustar estilos em telas menores */
@media (max-width: 768px) {
  #OwAlee {
    font-size: 14px;
  }
}
